In [42]:
import pandas as pd
import re
dataset = pd.read_csv("spotify_dataset.csv")

dataset

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961
...,...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,184,0,51321,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,196,0,49512,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,167,0,46547,46547
11082,11083,The Vamps,Somebody To You,1,0.0,200,0,44962,44962
11083,11084,JAY,Z Holy Grail,1,0.0,184,0,44323,44323

In [43]:
dataset = dataset.drop(["Peak Position", "Peak Streams"], axis=1)

dataset

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position (xTimes),Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,(x29),883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,(x20),864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,(x4),781153024
3,4,J. Cole,No Role Modelz,2547,6.0,0,734857487
4,5,Post Malone,rockstar,1223,186.0,(x124),718865961
...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,0,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,0,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,0,46547
11082,11083,The Vamps,Somebody To You,1,0.0,0,44962
11083,11084,JAY,Z Holy Grail,1,0.0,0,44323

In [44]:
def extract_number(value):
    if isinstance(value, int):
        return value
    match = re.search(r'\d+',value)
    if match:
        return int(match.group())
    else:
        return 0

for index, row in dataset.iterrows():
    dataset.loc[index, "Peak Position (xTimes)"] = extract_number(dataset["Peak Position (xTimes)"][index])
    
dataset

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position (xTimes),Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,29,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,20,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,4,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,0,734857487
4,5,Post Malone,rockstar,1223,186.0,124,718865961
...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,0,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,0,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,0,46547
11082,11083,The Vamps,Somebody To You,1,0.0,0,44962
11083,11084,JAY,Z Holy Grail,1,0.0,0,44323

In [45]:
dataset["Artist Name (factorized)"] = pd.factorize(dataset["Artist Name"])[0]

dataset

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position (xTimes),Total Streams,Artist Name (factorized)
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,29,883369738,0
1,2,Juice WRLD,Lucid Dreams,1673,178.0,20,864832399,1
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,4,781153024,2
3,4,J. Cole,No Role Modelz,2547,6.0,0,734857487,3
4,5,Post Malone,rockstar,1223,186.0,124,718865961,0
...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,0,51321,1611
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,0,49512,158
11081,11082,Mike WiLL Made,It 23,1,0.0,0,46547,630
11082,11083,The Vamps,Somebody To You,1,0.0,0,44962,437
11083,11084,JAY,Z Holy Grail,1,0.0,0,44323,153

In [49]:
dataset["Total Streams"] = (dataset["Total Streams"] - dataset["Total Streams"].min()) / (dataset["Total Streams"].max() - dataset["Total Streams"].min())
dataset["Total Streams"] = (dataset["Total Streams"] - dataset["Total Streams"].mean()) / dataset["Total Streams"].std()
dataset.rename(columns={'Total Streams': 'Total Streams (Normalized and Standardized'}, inplace=True)

dataset

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position (xTimes),Total Streams (Normalized and Standardized,Artist Name (factorized)
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,29,16.574004,0
1,2,Juice WRLD,Lucid Dreams,1673,178.0,20,16.218841,1
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,4,14.615598,2
3,4,J. Cole,No Role Modelz,2547,6.0,0,13.728606,3
4,5,Post Malone,rockstar,1223,186.0,124,13.422218,0
...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,0,-0.349804,1611
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,0,-0.349838,158
11081,11082,Mike WiLL Made,It 23,1,0.0,0,-0.349895,630
11082,11083,The Vamps,Somebody To You,1,0.0,0,-0.349925,437
11083,11084,JAY,Z Holy Grail,1,0.0,0,-0.349938,153

In [50]:
dataset.to_csv("spotify_dataset(treated).csv")